@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");




.project-card-sm {
  max-width: 620px;
  padding: 2.5px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  transition: transform 0.4s, box-shadow 0.4s ;
}

.project-card-sm:hover {
  transform: scale(1.025);
  box-shadow: 0 0 100px -30px #6f45dc;  
}


.project-card-sm .card-border-gradient {
  content: "";
  position: absolute;
  bottom: 50%;
  height: 300%;
  width: 10rem;
  z-index: -1;
  background: linear-gradient(to right, transparent, #9272e4, transparent);
  
  transition: opacity 0.3s ;
  opacity: 0;
    
  animation: animate-border-gradient 5s infinite linear;
}

.project-card-sm:hover .card-border-gradient {
  opacity: 1;
}

@keyframes animate-border-gradient {
  0% {
    transform: rotate(0deg);
    transform-origin: bottom;
  }
  100% {
    transform: rotate(360deg) ;
    transform-origin: bottom;
  }
}


.project-card-sm .card-container {
  display: flex;
  height: 300px;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 12px;
  background-color: hsl(0, 0%, 10%);
  color: rgba(255, 255, 255, 0.7);
}

.card-container img {
  width: 60%;
  border-radius: 8px;

  object-fit: cover;
  
  transition: transform 0.3s;
}

.card-container .wrapper {
  grid-area: text;
  font-size: 0.9rem;
  line-height: 1.4;
}

.card-container .wrapper h1 {
  font-size: 1.1rem;
  font-weight: 800;
  line-height: 1;
  color: #fff;
  margin-bottom: 0.75rem;
}

.card-container .wrapper button {
  background: none;
  border: none;
  
  font: inherit;
  color: #fff;
  margin-top: 1.4rem;
  
}

.card-container .wrapper button i {
  margin-left: .5rem;
  transition: margin 0.3s;
}
.card-container:hover button i {margin-left: 1rem;}


.visitLink{
    text-decoration: underline;
    color: white;
    padding: 5px 15px;
    display: block;
    border-radius: 5px;
    background-color: #6f45dc;
    text-align: center;
    margin-top: 10px;
}